<!DOCTYPE html>
<html lang="en">

<%- include('./includes/meta.ejs') %>

<body>
    <main class="canvas">
        <!-- Header -->
        <%- include('./includes/navigation.ejs') %>
        <!-- hero -->
        <div class="hero">
            <h1 class="hero-header inter-700">MY STORIES</h1>
            <h2 class="hero-content inter-600 intro">Bits, Bytes and Big Ideas: <span class="hero-sub-content">Growing
                    Knowledge through words</span></h2>
            <div class="scroll-down">
                <div class="mouse">
                    <div class="wheel"></div>
                </div>
                <div class="arrow"></div>
                <div class="arrow second"></div>
            </div>
        </div>
        <!-- Container -->
        <div class="container inter-600">
            <ul class="padded-container">
                <!-- <div class="tags">
                    <button class="tag pointer" selected>ALL</button>
                    <button class="tag pointer">TECH</button>
                    <button class="tag pointer">THOUGHTS</button>
                    <button class="tag pointer">AGRI</button>
                </div> -->
                <% for (let blog of blogs) { %>
                    <li class="card" itemscope itemtype ="https://schema.org/TechArticle">
                        <div class="card-content">
                            <p class="caption"><%= blog.tags %></p>
                            <h2 class="card-title"><a href="/<%= blog.id %>" rel="noopener noreferrer" itemprop="title">
                                <%= blog.title %>
                            </a></h2>
                            <p class="card-subtitle inter-300"><%= blog.description %></p>
                            <p class="caption"><%= blog.createdAt %> . 7 min . <%= blog.views %> Views</p>
                        </div>
                        <div class="card-image">
                            <img class="card-image" src="<%= blog.thumbnailUrl %>" alt="blog thumbnail">
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
</body>

</html>